/*
 * Beispiel Konfigurationsdatei example02
 */

EINGABEDATEI = TEILELISTE.TXT
AUSGABEDATEI = SCHNITTANWEISUNG.TXT
SUCHTIEFE = 5
MATERIAL = "Platte34  "
MATERIALLAENGE = 3000
MATERIALBREITE = 2050
BLATTDICKE = 4
RICHTUNGEN = 2
SCHNITTZUGABE = 10 
DRUCKSKALIERUNG = 50
INFO = 0
rem INFO = 7
SEITENVORSCHUB = 0
rem AUFRUF = "dir /a"
rem AUFRUF = "ls -l"
AUFRUF = "type SCHNITTANWEISUNG.TXT | more"
