/*
 * example01 configuration file
 *
 */

INPUT_FILENAME = BILL_OF_MATERIAL.TXT
rem OUTPUT_FILENAME = (stdout)
OUTPUT_FILENAME = BEST_SAWING_INSTRUCTIONS.TXT
MAX_TRIALS = 5
MATERIAL_NAME = "WOODBOARD4"
MATERIAL_LENGTH = 2800
MATERIAL_WIDTH = 2050
CUTTING_WIDTH = 4
CUTTING_N_DIRECTIONS = 2
CUTTING_ALLOWANCE = 10
PRINT_SCALE = 50
VERBOSE = 0
rem VERBOSE = 7
FORM_FEED = 0
rem PROGRAM_CALL_ON_EXIT = "dir /a"
